<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Superposition Columbia</title>
	<link rel="shortcut icon" href="https://lh3.googleusercontent.com/aGnotsyUjCdsJ267JEFV2f6G9z3J9ZAgC-_uJt9R5ZFjU0_Vn7Oxo5e5J_3wjymwTcP5iHutoVeTeAM4LUNbX64NiCADe4m6vg7Qoodq8GMIH_LP8eABTc-ciOkWOrFAPnwWBT7DSQ=w2400">
	<!-- <link rel="shortcut icon" href="https://lh3.googleusercontent.com/02zpz4gGkFdS7kgVbM79WEIhN_QYyjacnq_UQF53zTA-kQUrhMhMqag_qTOJ0pHVf-cFz5NrZwhbk6iGEidnzQNAeh_I3JPg0cn1rOpFxAVhVpEKvGj4hZn4BpEBdhL6zID_qP5nsg=w2400">  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">    	
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body id="page-top">
	<nav class="navbar navbar-light navbar-fixed-top" id="navbar-edit" >
		<div class="container">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	      	</button>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<img id="logo" src="https://lh3.googleusercontent.com/I2obCW0UDMuK8z4mJDK6HGIs202-P41dwgTk6IMhhEJnXSTtajnVqHvZn_EOGz78dU0u-Bs9Gh7HdRAvKRHHprfUqC0imJU1O43Vzu2a2fxwutqSpbdWYGOlROngiZE6JDIbpyWVXQ=w2400" alt=""><a class="navbar-brand js-scroll-trigger" href="#page-top" id= "brand">Superposition Columbia</a>
	       	<ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about"> About </a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team"> Team </a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#events">Events</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#sponsors">Sponsors</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#photos">Photos</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#calendar">Calendar</a></li>
				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a></li>

			</ul>
		</div>
		</div>
	</nav>